@font-face {
  font-family: "Alliance";
  src: url("./assets/fonts/Degarism Studio - Alliance No.1 Light.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Alliance", sans-serif !important;
}

body {
  background-color: #E2E8F1 !important;
}

a {
  text-decoration: none !important;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: #101112 !important;
}

.navbar-toggler {
  border: none !important;
}

@media (min-width: 1400px) {
  .inicio {
    margin-left: 73px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .inicio {
    margin-left: 89px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .inicio {
    margin-left: 67px;
  }
}
.hero-section__title {
  color: #080B18;
  font-size: 120px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: -7.2px;
}

.hero-section__text, .hero-section__description {
  font-size: 22px;
  font-weight: 500;
  line-height: 30.8px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero-section__title {
    font-size: 105px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-section__title {
    font-size: 92px;
  }
}
@media (min-width: 992px) {
  .hero-section__text {
    margin-top: 105px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .hero-section__title {
    font-size: 84px;
  }
  .hero-section__description {
    font-size: 21.5px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section__title {
    line-height: 144px;
  }
  .hero-section__description {
    margin-bottom: 65px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero-section {
    margin-top: 30px !important;
  }
  .hero-section__title {
    font-size: 60px;
    letter-spacing: -5px;
  }
}
@media (max-width: 576px) {
  .hero-section {
    margin-top: 40px !important;
  }
  .hero-section__title {
    margin-top: -13px;
  }
  .hero-section__btn {
    margin-left: 9.5%;
    width: 80%;
  }
}
@media (min-width: 542px) and (max-width: 575px) {
  .hero-section__title {
    font-size: 55px;
    letter-spacing: -4px;
  }
}
@media (min-width: 481px) and (max-width: 541px) {
  .hero-section__title {
    font-size: 50px;
    letter-spacing: -4px;
  }
}
@media (min-width: 394px) and (max-width: 480px) {
  .hero-section__title {
    font-size: 45px;
    letter-spacing: -4px;
  }
}
@media (min-width: 333px) and (max-width: 393px) {
  .hero-section__title {
    font-size: 35px;
    letter-spacing: -2px;
  }
}
@media (min-width: 320px) and (max-width: 332px) {
  .hero-section__title {
    font-size: 33px;
    letter-spacing: -2px;
  }
}
.media {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.media__slider {
  display: inline-block;
  animation: 8s slide infinite linear;
}
.media__slider img {
  margin: 0px 40px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 768px) {
  .media__slider {
    margin: 100px 0px 125px 0px;
  }
}
@media screen and (max-width: 767px) {
  .media__slider {
    margin: 80px 0px 80px 0px;
  }
}
@media screen and (max-width: 575px) {
  .media__slider {
    margin: 50px 0px 70px 0px;
  }
}

.article__form {
  width: 100%;
}
.article__form input, .article__form textarea {
  border-radius: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.article__form label {
  color: gray;
}

.submit button {
  padding: 0.75rem 2.5rem;
  border-radius: 15px;
  color: #0040ff;
  font-weight: 600;
  border: 2px solid #0040ff;
  width: 100%;
  transition: 0.3s;
}
.submit button:hover {
  color: #ffffff;
  background-color: #0040ff;
}

.social-icons {
  color: #000000;
}

.reservas-navbar-btn, .hero-section__btn, .article__btn--empeza {
  color: #ffffff;
  background-color: #0040ff;
  font-size: default;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: default;
  border-radius: 16px;
  transition: opacity 0.3s;
}
.reservas-navbar-btn:hover, .hero-section__btn:hover, .article__btn--empeza:hover {
  opacity: 0.7;
}

.reservas-navbar-btn {
  padding: 17px 35px;
  font-size: 20px;
  display: flex;
}

.hero-section__btn {
  padding: 22px 30px;
}
.hero-section__btn-reservas {
  color: #080B18;
  background-color: #ffffff;
}

.article__btn--empeza {
  padding: 26px 34px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .reservas-navbar-btn {
    margin-right: -25px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .reservas-navbar-btn {
    margin-right: -30px;
  }
}
@media screen and (max-width: 767px) {
  .hero-section__btn {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}
@media screen and (max-width: 575px) {
  .hero-section__btn {
    margin-left: 9.5%;
    width: 80%;
  }
  .submit button {
    color: #ffffff;
    background-color: #0040ff;
    border: none;
  }
}
.article {
  border-radius: 100px;
  line-height: 20px;
  gap: 36px;
}
.article .article__body {
  padding: 25px 0px 115px 105px;
}
.article .article__number {
  margin: -85px 0px 0px 0px;
  font-weight: 700;
}
.article .article__number, .article .article__upper-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  letter-spacing: 600;
}
.article .article__title {
  margin: 20px 0px 30px 0px;
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: -2.1px;
}
.article .article__description {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.article__first {
  color: #ffffff;
  background-color: #0040ff;
}
.article__first .article__upper-text {
  color: #75BDFF;
}
.article__first .article__description {
  color: #ffffff;
}
.article__first .article__link a {
  color: #0040ff;
  background-color: #ffffff;
  padding: 22px 30px 22px 30px;
  font-weight: 600;
  border-radius: 16px;
}

.small-articles .article {
  padding: 147px 0px 0px;
}
.small-articles .article__upper-text {
  margin: 120px 0px 0px 0px;
}
.small-articles .article__title {
  font-size: 60px;
}

.article__second {
  background-color: #000000;
  background-image: url(../assets/img/airplane-bg.webp);
  background-repeat: no-repeat;
  background-position: top right;
}
.article__second .article__number {
  color: #4e546c;
}
.article__second .article__upper-text {
  color: #0066ff;
}
.article__second .article__title {
  color: #ffffff;
}

.article__third {
  color: #080B18;
  background-color: #09E5E0;
  background-image: url(../assets/img/clouds-bg.webp);
  background-repeat: no-repeat;
  background-position: top right;
}
.article__third .article__description {
  color: #080B18;
}

.article__fourth {
  background-color: #000000;
  padding: 147px 0px 115px 127px;
}
.article__fourth .article__number {
  color: #4e546c;
}
.article__fourth .article__title {
  color: #ffffff;
}
.article__fourth .article__title span:first-child {
  background: linear-gradient(93deg, #14EDE0 33.16%, #0057FF 63.53%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.article__fourth .article__call-to-action h2 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  line-height: default;
  letter-spacing: default;
}
.article__fourth .article__disclaimer {
  color: #4e546c;
  font-size: default;
  font-weight: default;
  line-height: 22.4px;
  letter-spacing: -0.16px;
}

.article__fifth {
  padding: 147px 0px 0px 0px;
  color: #000000;
  background-color: #ffffff;
}

.home .article__fifth {
  background-image: url(../assets/img/contacto-bg.webp);
  background-repeat: no-repeat;
  background-position: top right;
}
.home .article__fifth .article__body {
  padding: 25px 100px 115px 100px;
}

@media (max-width: 1199px) {
  .article__first {
    background-image: url(../assets/img/bautismos-bg.webp);
    background-repeat: no-repeat;
    background-position: top right;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .small-articles .article__title {
    font-size: 53px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .small-articles .article__title {
    font-size: 41px;
  }
  .small-articles .article__title, .small-articles .article__description {
    padding-right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .article__first {
    padding: 147px 0px 115px 127px;
  }
  .small-articles .article {
    width: 40.8%;
    margin: 0px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .article__first .article__body {
    padding: 90px 0px 127px 90px;
  }
  .article__first .article__number {
    margin-top: 59px !important;
    position: absolute;
  }
  .article__first .article__upper-text {
    margin-top: 120px;
  }
  .article__second .article__title {
    font-size: 50px;
  }
  .article__third .article__title {
    font-size: 55px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .article__first .article__body {
    padding: 90px 0px 127px 90px;
  }
  .article__first .article__number {
    margin-top: 59px;
    position: absolute;
  }
  .article__first .article__upper-text {
    margin-top: 120px;
  }
  .article__first .article__title {
    font-size: 60px;
  }
  .article__first .article__link {
    padding-left: 105px;
  }
  .article__second .article__description {
    background: linear-gradient(93deg, #14EDE0 27.16%, #006eff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .article__second .article__piloto--br {
    display: none;
  }
  .article__call-to-action h2 {
    font-size: 55px;
  }
}
@media screen and (min-width: 576px) {
  .article__link {
    padding-left: 105px;
  }
  .article__second .article__description {
    background: linear-gradient(93deg, #14EDE0 27.16%, #006eff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .article__second .article__piloto--br {
    display: none;
  }
}
@media (max-width: 576px) {
  .article__body {
    padding: 25px 0px 100px 50px !important;
  }
  .article__first .article__body {
    padding: 110px 0px 100px 50px !important;
  }
  .article__first .article__upper-text {
    margin-top: 120px;
  }
  .article__first .article__title {
    font-size: 60px;
  }
  .article__first .article__number {
    margin-top: 59px;
    position: absolute;
  }
  .article__second .article__title {
    font-size: 40px;
  }
  .article__second .article__description {
    color: #0066ff;
    font-size: 18px;
  }
  .article__third .article__title {
    font-size: 43.5px;
  }
  .small__articles .article__upper-text {
    font-size: 20px;
  }
  .article__fourth .article__title {
    font-size: 45px;
  }
  .article__fourth .article__disclaimer {
    font-size: 13.9px;
  }
  .article__fourth .article__main-image {
    margin-top: -30px;
  }
  .article__fourth .article__call-to-action h2 {
    font-size: 50px;
  }
  .home .article__fifth .article__body {
    padding: 25px 50px 100px 50px !important;
  }
}
@media (min-width: 490px) and (max-width: 530px) {
  .home .article__first .article__title {
    font-size: 55px;
  }
}
@media (max-width: 469px) {
  .flota .article__first .article__title {
    font-size: 38px;
  }
}
@media (max-width: 490px) {
  .home .article__first .article__title {
    font-size: 46px;
  }
}
@media (max-width: 430px) {
  .home .article__first .article__title {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .home .article__first .article__title {
    font-size: 35px;
  }
}
@media screen and (min-width: 341px) {
  .article__mdq--br {
    display: none;
  }
}
@media (max-width: 340px) {
  .article__first .article__upper-text {
    font-size: 16px !important;
  }
  .home .article__first .article__title {
    font-size: 55px;
  }
}
@media (min-width: 550px) and (max-width: 575px) {
  .article__second .article__piloto--br {
    display: none;
  }
}
@media screen and (max-width: 549px) {
  .article__second .article__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 510px) {
  .article__call-to-action h2 {
    font-size: 45px;
  }
}
@media screen and (max-width: 475px) {
  .article__fourth .article__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  .article__call-to-action h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 440px) {
  .article__fourth .article__roadmap--br {
    display: none;
  }
  .article__roadmap-span {
    display: block;
  }
}
@media screen and (max-width: 439px) {
  .article__roadmap-span {
    display: inline;
  }
}
@media screen and (max-width: 430px) {
  .article__fifth .article__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 400px) {
  .article__call-to-action h2 {
    font-size: 35px;
  }
}
@media (min-width: 350px) and (max-width: 575px) {
  .article__first .article__description {
    font-size: 24px;
  }
}
@media screen and (max-width: 380px) {
  .article__fourth .article__title {
    font-size: 35px;
  }
  .article__fifth .article__title {
    font-size: 55px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .article__first .article__upper-text {
    font-size: 18px;
  }
  .article__first .article__description {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .article__second .article__title {
    font-size: 36px;
  }
  .article__fifth .article__title {
    font-size: 50px;
  }
  .article__fifth .article__call-to-action h2 {
    font-size: 32px;
  }
  .article__fifth .text-muted {
    font-size: 14px;
  }
}
.article__cursos--dropdown:hover {
  cursor: pointer;
}

.accordion {
  width: 90%;
}

.accordion-button {
  color: #121637;
  font-size: 24px !important;
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
