* {
    margin: 0;
    padding: 0;
    font-family: "Alliance", sans-serif !important;
}

@font-face {
    font-family: 'Alliance';
    src: url('./assets/fonts/Degarism\ Studio\ -\ Alliance\ No.1\ Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* BACKGROUND COLORS */
    --blue-bg: #0040ff;
    --aqua-bg: #09E5E0;
    --white: #ffffff;
    --black-bg: #000000;

    /* TEXT COLORS */
    --black: #080B18;
    --aqua: #75bdff;
    --blue: #0066ff;
    --gray: #4e546c;

    /* FONT STYLES */
    --f600: 600;
}

body {
    background-color: #E2E8F1 !important;
}

/* NAVBAR */

.nav-link {
    color:#101112 !important;
    font-weight: 500 !important;
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 24px;
}

.reservas-navbar-btn, .contacto-btn {
    background-color: var(--blue-bg);
    text-decoration: none;
    border-radius: 16px;
    color: var(--white);
    display: flex;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    line-height: 20px;
    padding: 17px 35px;
}

.reservas-navbar-btn, .video-btn, .reservas-home-btn { 
    transition: opacity .3s;
}

.reservas-navbar-btn:hover, .video-btn:hover, .reservas-home-btn:hover {
    opacity: 0.7;
}

.navbar-toggler {
    border: none !important;
}

/* HOME */

.home-title {
    color: var(--black);
    font-size: 120px;
    font-weight:700;
    grid-area:auto;
    letter-spacing:-7.2px;
}

.home-text, .home-description {
    font-size: 22px;
    font-weight: 500;
    line-height: 30.8px;
}

.home-btn {
    border-radius: 16px;
    text-decoration: none;
    font-weight: 600;
    gap: 6px;
    line-height: 20px;
    padding: 22px 30px;
}

.video-btn {
    background-color: var(--blue-bg);
    color: #ffffff;
}

.reservas-home-btn {
    background-color: var(--white);
    color: #101112;
}

/* SLIDER */

.native-carousel-link {
    text-decoration: none;
}
  
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}
  
.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
  
.logos:before, .logos:after {
    position: absolute;
    width: 250px;
    height: 100%;
    z-index: 2;
}
  
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #E2E8F1);
}
  
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #E2E8F1);
}
  
.logos-slide {
    display: inline-block;
    animation: 8s slide infinite linear;
}
  
.logos-slide img {
    margin: 0 40px;
}

/* ARTICLE */

.article {
    border-radius: 100px;
    color: var(--white);
    /* display:flex;
    flex-direction:column; */
    gap:36px;
    line-height:20px;
}

/* ARTICLE CONTENT */

.article-body {
    padding: 25px 0px 115px 105px
}

.contacto-article .article-body {
    padding: 25px 100px 115px 100px
}

.number {
    margin-top: -85px !important;
    font-weight: 700;
}

.number, .upper-text {
    font-size: 22px;
    line-height: 30.8px;
}

.article-title {
    font-size: 70px;
    letter-spacing: -2.1px;
    line-height: 70px;
    margin: 20px 0px 30px 0px;
}

.upper-text, .article-title {
    font-weight: var(--f600);
}

.first-article .upper-text {
    color: #75BDFF;
}

.second-article .upper-text {
    color: var(--blue);
}

.article-description {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.2px;
    line-height: 28px;
}

.first-article .article-description {
    color: var(--white);
}

.article-link a {
    color: var(--blue-bg);
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 22px 30px;
    font-weight: 600;
}

.article-image {
    position: absolute;
    margin-left: 28%;
    margin-top: -4.4%;
}

/* ARTICLES */

.first-article {
    background-color: var(--blue-bg);
} 

.fourth-article, .sixth-article {
    padding: 147px 0px 115px 127px;
}

.fifth-article {
    padding: 147px 0px 0px 0px;
}

.contacto-article {
    background-image: url(../assets/img/contacto-bg.webp);
    background-repeat: no-repeat;
    background-position: top right;
}

/* SMALL ARTICLES */ 

.small-articles .article {
    padding: 147px 0px 0px;
}

@media screen and (min-width:992px) {
    .small-articles .article {
        width: 40.8%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.small-articles .upper-text {
    margin-top: 120px;
}

.small-articles .article-title {
    font-size: 60px;
}

.second-article {
    background-color: var(--black-bg);
    background-image: url(../assets/img/airplane-bg.webp);
    background-repeat: no-repeat;
    background-position: top right;
}

.second-article .number {
    color: var(--gray);
}

.article-description {
    text-decoration: none;
}

.third-article {
    background-color: var(--aqua-bg);
    background-image: url(../assets/img/clouds-bg.webp);
    background-repeat: no-repeat;
    background-position: top right;
    color: var(--black);
} 

.third-article .article-description {
    color: var(--black);
}

/* CURSOS */

.fourth-article {
    background-color: var(--black-bg);
}

.fourth-article .number {
    color: var(--gray);
}

.article-title span:first-child {
    background: linear-gradient(93deg, #14EDE0 33.16%, #0057FF 63.53%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* DROPDOWN PENDIENTE */

.cursos-dropdown:hover {
    cursor: pointer;
}



/* FIN DROPDOWN */

.call-to-action h2 {
    font-size: 70px;
    font-weight: 600;
}

.empeza {
    background-color:#0040ff;
    text-decoration: none;
    border-radius: 16px;
    color:#ffffff;
    font-weight: 600;
    line-height:20px;
    padding:26px 34px;
}

.disclaimer {
    color:#4a5271;
    letter-spacing:-0.16px;
    line-height:22.4px;
}

.contacto-btn {
    font-weight: 500;
}

/* FLOTA */

.card {
    background-color: #E2E8F1 !important;
    border: none !important;
}

.fotos-article {
    background-color: var(--white);
    padding: 80px 10px 0px;
}

.fotos-article .article-title {
    color: var(--black);
}

/* CONTACTO */

.fifth-article {
    background-color: var(--white);
    color: var(--black);
}

.contacto-article input, .contacto-article textarea {
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.article-form { 
    width: 100%;
}

label {
    color: gray;
}

/* FAQs */

.accordion {
    width: 90%;
}

.accordion-button {
    color: #121637;
    font-size: 24px !important;
    font-weight: 600;
}

/* FOOTER */

.submit button {
    border: 2px solid #0040ff;
    color: var(--blue-bg);
    width: 100%;
    font-weight: 600;
    padding:.75rem 2.5rem;
    border-radius:15px;
    transition:.3s;
}

.submit button:hover {
    color:#fff;
    background-color:var(--blue-bg);
}

.lista-footer {
    list-style: none;
}

.mail-to, .social-icons {
    text-decoration: none;
    color: #000000;
}

.share-icons a {
    text-decoration: none !important;
    color:#000000;
}

/* MEDIA QUERIES */

@media (min-width: 1400px) {
    .inicio {
        margin-left: 77px;
    }
}

@media (min-width: 992px) {
    .home-text {
        margin-top: 75px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .inicio {
        margin-left: 89px;
    }
    .reservas-navbar-btn {
        margin-right: -25px;
    }
    .home-title {
        font-size: 105px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .inicio {
        margin-left: 67px;
    }
    .reservas-navbar-btn {
        margin-right: -30px;
    }
}

@media screen and (max-width:1399px) {
    .article-image {
        margin-left: 430px;
        margin-top: -70px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .small-articles .article-title {
        font-size: 53px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .home-title {
        font-size: 92px;
    }
    .small-articles .article-title {
        font-size: 41px;
    }
    .small-articles .article-title, .small-articles .article-description {
        padding-right: 50px;
    }
}

.first-article {
    background-image: url(../assets/img/bautismos-bg.webp); 
    background-repeat: no-repeat;
    background-position: top right; 
}
@media screen and (min-width: 992px) {
    .first-article {
        padding: 147px 0px 115px 127px;
    }
}

@media screen and (max-width: 991px) {
    .first-article .article-body {
        padding: 90px 0px 127px 90px;
    }
    
    .first-article .number {
        margin-top: 59px !important;
        position: absolute;
    }
    .first-article .upper-text {
        margin-top: 120px;
    }
}

@media screen and (min-width: 768px) {
    .home-title {
        line-height: 144px;
    }
    .native-carousel {
        margin: 100px 0px 125px 0px;
    }
    .home-description {
        margin-bottom: 65px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-title {
        font-size: 84px;
    }
    .home-description {
        font-size: 21.5px;
    }
    .second-article .article-title {
        font-size: 50px;
    }
    .third-article .article-title {
        font-size: 55px;
    }
}

@media screen and (max-width: 767px) {
    .home-title {
        line-height: 70px;
    }
    .home-btn {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .native-carousel {
        margin: 80px 0px 80px 0px;
    }
    .first-article .article-title {
        font-size: 60px;
    }
    
}

@media screen and (min-width: 576px) {
    .hero-section {
        margin-top: 30px !important;
    }
    .article-link {
        padding-left: 105px;
    }
    .second-article .article-description {
        background: linear-gradient(93deg, #14EDE0 27.16%, #006eff 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .second-article .piloto-br {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .home-title {
        font-size: 60px;
        letter-spacing: -5px;
    }
    .call-to-action h2 {
        font-size: 55px;
    }
}

@media screen and (max-width:575px) {
    .hero-section {
        margin-top: 40px !important;
    }
    .home-title {
        margin-top: -13px;
    }
    .home-btn {
        margin-left: 9.5%;
        width: 80%;
    }
    .native-carousel {
        margin: 50px 0px 70px 0px;
    }
    .first-article .article-body {
        padding: 110px 0px 100px 50px;
    }
    .article-body {
        padding: 25px 0px 100px 50px;
    }
    .contacto-article .article-body {
        padding: 25px 50px 100px 50px;
    }
    .second-article .article-title {
        font-size: 40px;
    }
    .second-article .upper-text, .third-article .upper-text {
        font-size: 20px;
    }
    .second-article .article-description {
        color: var(--blue);
        font-size: 18px;
    }
    .third-article .article-title {
        font-size: 43.5px;
    }
    .fourth-article .article-title {
        font-size: 45px;
    }
    .disclaimer {
        font-size: 13.9px;
    }
    .text-muted {
        font-size: 15.5px;
    }
    .main-image {
        margin-top: -30px;
    }
    .br {
        display: none !important;
    }
    .submit button {
        background-color: var(--blue-bg);
        border: none;
        color: var(--white);
    }
}

@media screen and (max-width:549px) {
    .second-article .article-title {
        font-size: 40px;
    }
}

@media screen and (max-width:549px) {}

@media (min-width: 550px) and (max-width:575px) {
    .second-article .piloto-br {
        display: none;
    }
}

@media (min-width: 470px) and (max-width: 500px) {
    .first-article .article-title {
        font-size: 55px;
    }
}

@media screen and (min-width: 376px) {
    .mdq-br {
        display: none;
    }
}

@media (min-width: 350px) and (max-width: 575px) {
    .first-article .article-description {
        font-size: 24px;
    }
}

@media screen and (max-width: 350px) {
    .text-muted {
        font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .first-article .upper-text {
        font-size: 18px;
    }
    .first-article .article-description {
        font-size: 18px;
    }
}

@media (max-width:350px) {
    .second-article .article-title {
        font-size: 36px;
    }
}

@media (min-width: 542px) and (max-width: 575px) {
    .home-title {
        font-size: 55px;  
        letter-spacing: -4px; 
    }
}

@media (min-width: 481px) and (max-width: 541px) {
    .home-title {
        font-size: 50px;  
        letter-spacing: -4px; 
    }
}

@media (min-width: 394px) and (max-width: 480px) {
    .home-title {
        font-size: 45px; 
        letter-spacing: -4px; 
    }
}

@media (min-width: 333px) and (max-width: 393px) {
    .home-title {
        font-size: 35px; 
        letter-spacing: -2px; 
    }
}

@media (min-width: 320px) and (max-width: 332px) {
    .home-title {
        font-size: 33px; 
        letter-spacing: -2px; 
    }
}

@media screen and (max-width: 475px) {
    .fourth-article .article-title {
        font-size: 40px;
    }
}

@media screen and (min-width: 440px) {
    .fourth-article .roadmap-br {
        display: none;
    }
    .roadmap-span {
        display: block;
    }
}

@media screen and (max-width: 439px) {
    .roadmap-span {
        display: inline;
    }
}

@media screen and (max-width: 430px) {
    .fifth-article .article-title {
        font-size: 60px;
    }
}

@media screen and (max-width: 380px) {
    .fourth-article .article-title {
        font-size: 35px;
    }
    .fifth-article .article-title {
        font-size: 55px;
    }
}

@media screen and (max-width: 575px) {
    .call-to-action h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 510px) {
    .call-to-action h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 450px) {
    .call-to-action h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 400px) {
    .call-to-action h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 350px) {
    .call-to-action h2 {
        font-size: 32px;
    }
    .fifth-article .article-title {
        font-size: 50px;
    }
}