// BACKGROUND COLORS 
$blue-bg: #0040ff;
$aqua-bg: #09E5E0;
$white: #ffffff;
$black-bg: #000000;
    
// TEXT COLORS 
$black: #080B18;
$aqua: #75bdff;
$blue: #0066ff;
$gray: #4e546c;
    
// FONT STYLES 
$f600: 600;

