.hero-section__title {
    color: map-get($map: $colors, $key: "black");
    font-size: 120px;
    font-weight:700;
    grid-area:auto;
    letter-spacing:-7.2px;
}

.hero-section__text, .hero-section__description {
    font-size: 22px;
    font-weight: 500;
    line-height: 30.8px;
}

// Media Queries

@include xl {
    .hero-section__title {
        font-size: 105px;
    }
}

@include lg {
    .hero-section__title {
        font-size: 92px;
    }
}

// PENDIENTE

@media (min-width: 992px) {
    .hero-section__text {
        margin-top: 105px;
    }
}

@include md {
    .hero-section__title {
        font-size: 84px;
    }
    .hero-section__description {
        font-size: 21.5px;
    }
}

// PENDIENTE 

@media screen and (min-width: 768px) {
    .hero-section__title {
        line-height: 144px;
    }
    .hero-section__description {
        margin-bottom: 65px;
    }
}

@include sm {
    .hero-section {
        margin-top: 30px !important;
    }
    .hero-section__title {
        font-size: 60px;
        letter-spacing: -5px;
    }
}

@include xs {
    .hero-section {
        margin-top: 40px !important;
    }
    .hero-section__title {
        margin-top: -13px;
    }
    .hero-section__btn {
        margin-left: 9.5%;
        width: 80%;
    }
}

// PENDIENTE (PREFERIBLEMENTE METER TODO DENTRO DE XS, USANDO % en vez de PX)

@media (min-width: 542px) and (max-width: 575px) {
    .hero-section__title {
        font-size: 55px;  
        letter-spacing: -4px; 
    }
}

@media (min-width: 481px) and (max-width: 541px) {
    .hero-section__title {
        font-size: 50px;  
        letter-spacing: -4px; 
    }
}

@media (min-width: 394px) and (max-width: 480px) {
    .hero-section__title {
        font-size: 45px; 
        letter-spacing: -4px; 
    }
}

@media (min-width: 333px) and (max-width: 393px) {
    .hero-section__title {
        font-size: 35px; 
        letter-spacing: -2px; 
    }
}

@media (min-width: 320px) and (max-width: 332px) {
    .hero-section__title {
        font-size: 33px; 
        letter-spacing: -2px; 
    }
}